{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb navigation">
                    <div class="material-switch pull-right">
                        <em>Hidden files</em>
                        <input id="hidden" name="display_hidden" type="checkbox"/>
                        <label for="hidden" class="label-default"></label>
                    </div>
                    <li class="relative-path">/</li>
                    <li class="relative-path">home</li>
                    <li class="active">{{ user }}</li>
                </ol>


                <div id="items-place-holder" class="col-lg-12">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/get_home.js' %}"></script>
{% endblock %}
