.navigation {
    margin-top: 15px;
    margin-bottom: 10px;
}

.wrapper{
    max-height: 100%;
    margin-bottom: 60px;
}

.footer{
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: white; /* Цвет фона */
    width: 100%;
}

.file-element {
    margin: 7px;
    padding: 10px;
    background-color: #f5f5f5;
    flex: 0 0 31%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.file-element:hover {
    cursor: pointer;
    background-color: #e6e5e5;
}

#items-place-holder {
    display: flex;
    flex-wrap: wrap;
}

.relative-path {
    color: blue;
}

.relative-path:hover {
    cursor: pointer;
}

.item {
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item:hover {
    cursor: pointer;
    background-color: #e6e5e5;
}

.item-edit-icon {
    margin-right: 10px;
}

.item-controllers {
    display: flex;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-action {
    display: flex;
}

.item-selected {
    background-color: #9bfd96;
}

.item-selected:hover {
    background-color: #86e681;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2px 0;
  font-size: 10px;
  line-height: 1.2;
  border-radius: 50%;
}

table td, th {
    padding: 2px;
}
