.task-properties-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task-property {
    flex: 0 0 15%;
}

.task-actions {
    flex: 0 0 50%;
}

.file-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 0 0 35%;
}

.col-right {
    text-align: center;
}

.task-execute-form {
    margin-right: 10px;
}

.task-reset-form {
    margin-right: 10px;
}
