.trash {
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash:hover {
    cursor: pointer;
    background-color: #e6e5e5;
}

.trash-edit-icon {
    margin-right: 10px;
}

.trash-controllers {
    display: flex;
}

.trash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-action {
    display: flex
}
