{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/material_switcher.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/trash.css' %}">
        <link rel="stylesheet" href="{% static 'css/task.css' %}">

    </head>
    <body>


        {% include 'navbar.html' %}
        <div class="wrapper">
            {% block content %}
            {% endblock content %}
        </div>
        {% include 'footer.html' %}
        <script src="{% static 'jquery/index.js' %}"></script>
        <script src="{% static 'jquery/jquery-cookie/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/helper.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        {% block javascript %}{% endblock %}
        <script src="{% static 'js/scripts.js' %}"></script>

    </body>
</html>
