<!-- Static navbar -->
<nav class="navbar navbar-inverse bg-inverse" style="margin-bottom: 0" navbar-main">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Trash controller</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav-elem"><a href="/">Home</a></li>
        <li class="nav-elem"><a href="{% url 'trash_index' %}">Trash</a></li>
        <li class="nav-elem"><a href="{% url 'task_index' %}">Tasks</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
