{% for trash in list_of_trash %}
    {% if trash.id == selected_task.trash.id %}
        <div class="item item-selected"
    {% else %}
        <div class="item"
    {% endif %}
        href="{% url 'trash_show' pk=trash.pk %}">
        <div>
            <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
            <span>{{ trash.path }}</span>
        </div>
        <div class="item-controllers">
            <a href="{% url 'trash_update' pk=trash.pk %}" class="btn btn-sm btn-info item-edit-icon">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <button type="button" class="btn btn-danger btn-sm js-delete-item"
                    data-url="{% url 'trash_delete' pk=trash.pk %}">
                    <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>
{% empty %}
    <p class="text-center bg-warning">No trash</p>
{% endfor %}
