{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="item-header">
                    <h2>List of trash</h2>
                    <a href="{% url 'trash_create' %}"><span class="glyphicon glyphicon-plus"></span>new trash</a>
                </div>
            </div>
            <div id="item-list">
                {% include 'trash/_list.html' %}
            </div>
            <div class="modal fade" id="modal-item">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/trash.js' %}"></script>
{% endblock %}
