{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="trash-header">
                <form method="post" action="{% url 'restore_all' pk=trash.pk %}">
                {% csrf_token %}
                    <button type="submit" class="btn btn-success">Restore all</button>
                </form>
                <form method="post" action="{% url 'clear_all' pk=trash.pk %}">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Clear all</button>
                </form>
            </div>
            <div class="col-lg-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ page.col_name }}</th>
                            <th>{{ page.col_type }}</th>
                            <th>{{ page.col_path }}</th>
                            <th>{{ page.col_deletion_date }}</th>
                            <th>{{ page.col_size }}</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in page.content %}
                            <tr>
                                <td class="trash-row">{{ obj.name }}</td>
                                <td class="trash-row">{{ obj.type }}</td>
                                <td class="trash-row">{{ obj.path }}</td>
                                <td class="trash-row">{{ obj.deletion_date }}</td>
                                <td class="trash-row">{{ obj.size }}</td>
                                <td class="trash-row">
                                    <div class="btn-action">
                                        <form method="post" action="{% url 'trashed_file_restore' pk=trash.pk %}"
                                              class="trashed-file-action">{% csrf_token %}
                                            <input type="hidden" name="filename" value="{{ obj.name }}">
                                            <button type="submit" class="btn btn-success" style="padding: 5px; margin-right: 6px">save</button>
                                        </form>
                                        <form method="post" action="{% url 'trashed_file_clear' pk=trash.pk %}"
                                              class="trashed-file-action">{% csrf_token %}
                                            <input type="hidden" name="filename" value="{{ obj.name }}">
                                            <button type="submit" class="btn btn-danger" style="padding: 5px">clear</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center bg-warning">
                                    <small>No files</small>
                                </td>
                            <tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/trash.js' %}"></script>
{% endblock %}
