<table width="100%" border="1">
    <thead width="100%" padding="2">
        <tr>
            <th width="60%">Path</th>
            <th width="20%" style="text-align: center">Is removed</th>
            <th width="20%" style="text-align: center">Delete</th>
        </tr>
    </thead>
    <tbody width="100%" padding="2">
        {% for file in task_files %}
            <tr>
                <td>{{ file.path }}</td>
                <td align="center">
                    {% if file.is_removed %}
                        <i class="glyphicon glyphicon-ok"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-remove"></i>
                    {% endif %}
                </td>
                <td align="center">
                    <form method="post" action="{% url 'remove_from_task' task_id=task.id %}" class="remove-from-file-list-btn">
                    {% csrf_token %}
                        <input type="hidden" name="fullpath" value="{{ file.path }}">
                        <button type="submit" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-remove"></i>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3" class="text-center bg-warning">
                    <small>No files</small>
                </td>
            <tr>
        {% endfor %}
    </tbody>
</table>
