{% for task in tasks %}
    {% if task.is_selected %}
        <div class="item item-selected"
    {% else %}
        <div class="item"
    {% endif %}
            href="{% url 'task_show' pk=task.pk %}">
        <div>
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            <span>{{ task.name }}</span>
        </div>
        <div class="item-controllers">
            <div style="margin-right: 10px">
                <button class="btn btn-default">Status: {{ task.status_name }}</button>
            </div>
            <form method="post" action="{% url 'task_execute' pk=task.pk  %}" class="task-execute-form">
            {% csrf_token %}
                <button type="submit" class="btn btn-warning">Execute</button>
            </form>
            <a href="{% url 'task_update' pk=task.pk %}" class="btn btn-sm btn-info item-edit-icon">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <button type="button" class="btn btn-danger btn-sm js-delete-item"
                    data-url="{% url 'task_delete' pk=task.pk %}">
                    <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>
{% empty %}
    <p class="text-center bg-warning">No tasks</p>
{% endfor %}
