{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="item-header">
                    <h2>Tasks</h2>
                    <a href="{% url 'task_create' %}"><span class="glyphicon glyphicon-plus"></span>new task</a>
                </div>
            </div>
            <div id="item-list">
                {% include 'tasks/_list.html' %}
            </div>
            <div class="modal fade" id="modal-item">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
