{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>New task</h2>
                <form method="post">{% csrf_token %}
                    <div class="input-group">
                        {% include 'includes/partial_form.html' %}
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
