{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="task-properties-list col-lg-12">
                <div class="task-property">
                    <h3>Name</h3><br>
                    <span>{{ task.name }}</span>
                </div>
                <div class="task-property">
                    <h3>Trash</h3><br>
                    <span><a href="{% url 'trash_show' pk=task.trash.id %}">{{ task.trash.path }}</a></span>
                </div>
                <div class="task-property">
                    <h3>Status</h3><br>
                    <span>{{ task.status_name }}</span>
                </div>
                <div class="task-property">
                    <h3>Policy</h3><br>
                    <span>{{ task.policy_name }}</span>
                </div>
            </div>
            <div class="task-properties-list col-lg-12">
                <div class="task-actions">
                <hr>
                    <h3>Search by regexp</h3>
                    <br>
                    <form method="post" class="form-inline" action="{% url 'add_by_regex' pk=task.pk %}">
                    {% csrf_token %}
                        <input type="text" name="regex" placeholder="Search by regexp">
                        <input type="text" name="directory" placeholder="Directory">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <div class="task-actions">
                <hr>
                    <h3 style="text-align: right">Action</h3><br>
                    <div class="btn-action" style="float: right">
                        <form method="post" action="{% url 'task_execute' pk=task.pk %}" class="task-execute-form">
                        {% csrf_token %}
                            <button type="submit" class="btn btn-warning">Execute</button>
                        </form>
                        <form method="post" action="{% url 'task_reset' pk=task.pk %}" class="task-reset-form">
                        {% csrf_token %}
                            <button type="submit" class="btn btn-info">Reset</button>
                        </form>
                        {% if not task.is_selected %}
                            <form id="task-select" method="post" action="{% url 'task_select' pk=task.pk %}">
                            {% csrf_token %}
                                <button type="submit" class="btn btn-primary select-btn">Select</button>
                            </form>
                        {% else %}
                            <button type="button" class="btn btn-success">Select</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <hr>
                <h3 style="text-align: center">FILES</h3>
                    {% include "tasks/_file_list.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/task.js' %}"></script>
{% endblock %}
